
<table class="table-responsive-sm">
    <tr class="border-bottom">
        <td><span class="badge badge-secondary" style="font-size: 15px">Name</span></td>
        <td><a>@Employee.Name</a></td>
    </tr>
    <tr class="border-bottom">
        <td><span class="badge badge-secondary" style="font-size: 15px">Employed</span></td>
        <td><a>@Employee.EmployedDate.Date.ToShortDateString()</a></td>
    </tr>
    <tr class="border-bottom">
        <td><span class="badge badge-secondary" style="font-size: 15px">Current salary</span></td>
        <td><a>@CurrentSalary</a></td>
    </tr>
</table>

@code {
    [Parameter] public EmployeeBase Employee { get; set; }
    [Parameter] public double CurrentSalary { get; set; }

}
